version: '3.8'
services:
  postgres:
    image: postgres:latest
    container_name: sistema-_notas
    environment:
      POSTGRES_DB: db_sistema_notas
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
        - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data      
    restart: always